.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.container {
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}
.img_container {
    background-color: hsl(220, 15%, 55%);
}
